h1 {
  color: blueviolet;
}

.container {
  width: 50px;
  height: 50px;
  background-color: blueviolet;
}

#another-container {
  width: 60px;
  height: 60px;
  background-color: cornflowerblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  padding: 7px 10px;
  margin-top: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}